.UpcommingMovies{
    text-align: center;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    background: #ff9999;
    height: 25px;
    font-size: 1rem;
}
img:hover {
    cursor: pointer;
   
}

.gridTile{
    height: 250
}

.container {
    display: flex;
    align-items: stretch;
  }

.div1 {
    width: 76%;
    float:left;
    margin-right: 16px;
}
.div2 {
    width: 24%;
    float:right;
    
}
