.header {
    text-align: center;
    padding-top: 8px;
    padding-right: 32px;
    padding-bottom: 8px;
    padding-left: 16px;
    background: #222;
    height: 36px;
        
}

.Login{
    float:right;
    padding: '8px 15px',
    
}
.Form-Username{
   
    text-align: center;
    padding-top: 20px;
}

.Form-Password{
    
    text-align: center;
    padding-top: 20px;
}
.Form_Login{
    text-align: center;
    padding-top: 40px;
}

.Logout{
    float:right;
   
    
}

.BookShow{
    float: right;
    padding: '8px 15px',
}

.Logo{
    background: #ff7f7f;
    height: 35px;
    float:left;
    animation: flip 8s infinite;

}

@keyframes flip {
    50% {
      transform: rotate3d(0, 1, 0, 360deg);
    }
  }



/****** Register style ******/
.RegisterDetails{
    text-align: center;
   
}
.LoginDetails{
    text-align: center;
}
.Login1{
    text-align: center;
    padding-top: 40px;
}
  
/****** Modal style ******/
.modal .modal-content {
    padding: 20px 20px 20px 20px;
    -webkit-animation-name: modal-animation;
    -webkit-animation-duration: 0.5s;
    animation-name: modal-animation;
    animation-duration: 0.5s;
}
